%article.panel.panel-default
  %header.panel-heading
    %h2.h4 Billing Info
  %section.panel-body
    %article{ 'ng-controller': 'CustomerCreditCardController as vm',
              'ng-init': 'vm.setCardholderId($parent.vm.customerId)' }
      .row
        %div{ 'ng-if': '!vm.creditCard.$resolved' }
          .col-md-10.col-md-offset-1
            %aside.progress
              .progress-bar.progress-bar-striped.active
                Loading...
        %div{ 'ng-if': 'vm.creditCard.$resolved' }
          .col-md-7
            %p.h4
              ****-****-****-{{vm.creditCard.lastFour}}
              %span.label.label-success {{vm.creditCard.cardType}}
            %p.h5
              %label Expires :
              {{vm.creditCard.expirationMonth}}/{{vm.creditCard.expirationYear}}
          .col-md-5.text-right
            %a.btn.btn-lg.btn-default{ href: '{{vm.creditCard.detailsLink}}' }
              View Details...
    %hr
    %article.well.well-sm
      %header
        %h1.h5
          Billing Address
          %small
            %label
              %input{ type: 'checkbox' } Same as billing?
      .form-group
        %label.sr-only{ for: 'street-address' } Street Address
        %input.form-control{ type: 'text', name: 'street-address',
                              'ng-model': 'vm.customer.billing_street' }
      .row
        .col-md-6
          .form-group
            %label.sr-only{ for: 'city' } City
            %input.form-control{ type: 'text', name: 'city',
                                'ng-model': 'vm.customer.billing_city' }
        .col-md-2
          .form-group
            %label.sr-only{ for: 'state' } State
            %input.form-control{ type: 'text', name: 'state',
                                'ng-model': 'vm.customer.billing_state' }
        .col-md-4
          .form-group
            %label.sr-only{ for: 'zip' } Zip
            %input.form-control{ type: 'text', name: 'zip',
                                'ng-model': 'vm.customer.billing_zipcode' }
