%header
  %h1.h2 Customer Search

%section.search-form
  %form
    %label.sr-only{ for: 'keywords' }
    %input{ type: 'text',
            name: 'keywords',
            class: 'form-control input-lg',
            'ng-model': 'vm.keywords',
            'ng-change': 'vm.search(vm.keywords)',
            placeholder: 'First Name, Last Name, or Email' }
  %h1.searchedFor{ 'ng-if': 'vm.searchedFor' }
    %small Searched for: {{vm.searchedFor}}

%section.search-results{ 'ng-if': 'vm.customers.length > 0' }
  %header
    %h1.h3 Results

  %nav
    %ul.pager
      %li.previous
        %a{ href: '', 'ng-click': 'vm.previousPage()' } &larr; Previous
      %li.next
        %a{ href: '', 'ng-click': 'vm.nextPage()' } Next &rarr;

  %ol.list-group
    %li.list-group-item.clearfix{ 'ng-repeat': 'customer in vm.customers' }
      %customer-summary{ cust: 'customer',
                          'view-details-function': 'vm.viewDetails' }

  %nav
    %ul.pager
      %li.previous
        %a{ href: '', 'ng-click': 'vm.previousPage()' } &larr; Previous
      %li.next
        %a{ href: '', 'ng-click': 'vm.nextPage()' } Next &rarr;
