%header
  %customer-summary{ cust: 'vm.customer' }
  %hr
%section{ 'ng-if': 'vm.alert' }
  %div{ 'uib-alert': true, 'ng-class': "'alert-' + vm.alert.type",
        close: 'vm.closeAlert()' }
    {{vm.alert.message}}
%form{ novalidate: true, name: 'vm.form' }
  .row
    .col-md-6
      = render 'templates/customers/customer_info'
    .col-md-6
      = render 'templates/customers/billing_info'
